#### Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [1]:
import pandas as pd

data=[4,8,15,16,23,42]
series=pd.Series(data)
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

#### Q3. Create a Pandas DataFrame that contains the following data: Then, print the DataFrame.

In [3]:
data=[
{'Name':'Alice','Age':25,'Gender':'Female'},
{'Name':'Bob','Age':30,'Gender':'Female'},
{'Name':'Claire','Age':27,'Gender':'Male'}]
df=pd.DataFrame(data)
dfs=df.to_dict(orient='list')
print(pd.Series(dfs))

Name        [Alice, Bob, Claire]
Age                 [25, 30, 27]
Gender    [Female, Female, Male]
dtype: object

In [5]:
data1={
'Name':['Alice','Bob','Claire'],
'Age':[25,30,27],
'Gender':['Female','Female','Male']}
df=pd.DataFrame(data1)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30  Female
2  Claire   27    Male

#### Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.

In [6]:
lists=[1,2,3,4,5,6,7,8,9,10]
series=pd.Series(lists)
print(series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

#### Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In [ ]:
in pandas, both series and dataframe are fundamental data strutures, but they have different purposes:
    pandas.Series:-
    it is a one dimensional labeled array that can hold data of any type.
    it similar to single attribute in a dataset(single column of data with label).
    each elements in a series has la label which has index also
    
    example:
    lists=[1,2,3,4,5,6,7,8,9,10]
    series=pd.Series(lists)
    print(series)
    
    dataframe:-
    a data frame is a two dimensional labeled data struture, like a spreadsheet.
    it is a collection of a series represents a column.
    dataframe allow you to store and manipulate data in a tabular form with rows and columns.
    you can perform various operations like grouping,merging,filtering and more on dataframes
    example:-
    data1={
    'Name':['Alice','Bob','Claire'],
    'Age':[25,30,27],
    'Gender':['Female','Female','Male']}
    df=pd.DataFrame(data1)
    print(df)

#### Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

In [ ]:
pandas provides a wide range of functions to manipulate data in a dataframe

1: Selecting a columns:
    you can select specific columns from a dataframe using indexing or the 'loc' and 'iloc' methods.
    
    import pandas as pd

    data = {'Name': ['Alice', 'Bob', 'Claire'],
        'Age': [25, 30, 27],
        'Gender': ['Female', 'Male', 'Female']}

    df = pd.DataFrame(data)

    # Select the 'Name' column
    name_column = df['Name']

    # Select the 'Name' and 'Age' columns
    name_age_columns = df[['Name', 'Age']]
2: filtering data:
    you can filter rows based on conditions
    # Filter rows where Age is greater than 26
    filtered_df = df[df['Age'] > 26]
3: sorting data:
    you can sort dataframe by one or more columns.
    # Sort by 'Age' column in ascending order
    sorted_df = df.sort_values(by='Age')

    # Sort by 'Age' column in descending order
    sorted_desc_df = df.sort_values(by='Age', ascending=False)
4: grouping and aggregation
    you can group data by a column and perform aggregation fun sum(),mean()
    # Group by 'Gender' and calculate the mean age for each group
    group_mean_age = df.groupby('Gender')['Age'].mean()
5: Adding and modifying columns:
    you can add new columns or modify existing ones.
    # Add a new column 'IsAdult' based on the 'Age' column
    df['IsAdult'] = df['Age'] > 18

    # Modify the 'Gender' column
    df['Gender'] = df['Gender'].map({'Female': 'F', 'Male': 'M'})
6: Handling Missing Data
    you can handle missing data using Dropna(),fillna()
    # Remove rows with missing values
    df.dropna(inplace=True)

    # Fill missing values with a specific value
    df['Age'].fillna(0, inplace=True)
7: Merging and joing dataframe
    # Merge two DataFrames based on a common column
    merged_df = df1.merge(df2, on='ID', how='inner')

    # Concatenate DataFrames vertically
    concatenated_df = pd.concat([df1, df2])

#### Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

In Pandas, a Series and a DataFrame are mutable, while a Panel is not.

1. Series: A Pandas Series is mutable, meaning you can modify its elements, change its values, and perform various operations to update or manipulate the data it contains.

2. DataFrame: A Pandas DataFrame is also mutable. You can add or remove columns, change the values in specific cells, append rows, and perform a wide range of operations to modify the structure and content of the DataFrame.

3. Panel: However, a Panel, which used to be a data structure in Pandas to handle three-dimensional data, has been deprecated in pandas version It is no longer part of the core Pandas library as of my knowledge cutoff date in September 2021. If you are working with multi-dimensional data in recent versions of Pandas, you would typically use multi-index DataFrames or other data structures.

Keep in mind that while Series and DataFrames are mutable, it's important to handle them with care when modifying data, especially when working with large datasets, to avoid unintended consequences or data integrity issues.

#### Q7. Create a DataFrame using multiple Series. Explain with an example.

In [2]:

import pandas as pd

# Create individual Series
names = pd.Series(['Alice', 'Bob', 'Claire'])
ages = pd.Series([25, 30, 27])
genders = pd.Series(['Female', 'Male', 'Female'])

# Combine the Series into a DataFrame
data = {'Name': names, 'Age': ages, 'Gender': genders}
df = pd.DataFrame(data)

# Print the DataFrame
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female