#### Q1. What is a database? Differentiate between SQL and NoSQL databases.

A database is a structured collection of data that is organized and stored in a way that allows efficient retrieval, updating, and management of data. Databases are used to store and manage various types of information, from simple lists to complex data structures. They play a crucial role in modern software applications, enabling data storage, retrieval, and manipulation.

SQL databases and NoSQL databases. Let's differentiate between the two:

SQL stands for Structured Query Language. SQL databases are also known as relational databases because they store data in tables with predefined columns and data types. Each row in the table represents a record, and each column represents a specific attribute of that record. SQL databases follow a fixed schema, which means the structure of the database is defined in advance, and all records must adhere to that structure.

NoSQL databases, as the name suggests, do not use SQL for data manipulation. They are non-relational databases designed to handle unstructured or semi-structured data and are more flexible in terms of schema. NoSQL databases utilize various data models, such as key-value stores, document stores, column-family stores, and graph databases, to store and manage data.

#### Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL stands for Data Definition Language. It is a type of SQL (Structured Query Language) used for defining, managing, and modifying database structures. DDL commands allow you to create, modify, and delete database objects such as tables, indexes, and views. These commands do not manipulate the data itself but rather the structure and organization of the data.

The CREATE command is used to create new database objects, such as tables, views, or indexes. It defines the structure and properties of the object being created. Here's an example of creating a simple table named "Customers":

exmaple:-

CREATE TABLE Customers (
    customer_id INT PRIMARY KEY,
    first_name VARCHAR(50),
    last_name VARCHAR(50),
    email VARCHAR(100)
);


The DROP command is used to remove database objects such as tables, views, or indexes entirely from the database. Be cautious when using DROP as it irreversibly deletes the specified object. Here's an example of dropping the "Customers" table:

exmaple:-

DROP TABLE Customers;

The ALTER command is used to modify the structure of an existing database object, such as adding or removing columns from a table or changing column definitions. Here's an example of adding a new column named "phone_number" to the "Customers" table:

exmaple:-

ALTER TABLE Customers
ADD phone_number VARCHAR(20);

The TRUNCATE command is used to remove all the data from a table, effectively resetting the table to its initial state. Unlike the DROP command, TRUNCATE does not delete the table structure, only the data. Here's an example of truncating the "Customers" table:

exmaple:-

TRUNCATE TABLE Customers;

#### Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML stands for Data Manipulation Language. It is a subset of SQL (Structured Query Language) used to interact with the data stored in a database. DML commands are used to insert, update, and delete data in database tables.

INSERT:
The INSERT command is used to add new rows (records) into a database table. It allows you to specify the values for each column in the table for the new row. Here's an example of inserting a new record into the "Customers" table:

example:-

INSERT INTO Customers (customer_id, first_name, last_name, email, phone_number)
VALUES (1, 'John', 'Doe', 'john.doe@example.com', '123-456-7890');

UPDATE:
The UPDATE command is used to modify existing records in a database table. It allows you to change the values of one or more columns in the table based on specified conditions. Here's an example of updating the phone number for a specific customer in the "Customers" table:

example:-

UPDATE Customers
SET phone_number = '987-654-3210'
WHERE customer_id = 1;

DELETE:
The DELETE command is used to remove one or more rows (records) from a database table based on specified conditions. Be cautious when using DELETE, as it permanently removes data from the table. Here's an example of deleting a customer record from the "Customers" table:

example:-

DELETE FROM Customers
WHERE customer_id = 1;

#### Q4. What is DQL? Explain SELECT with an example.

DQL stands for Data Query Language. It is a subset of SQL (Structured Query Language) used to retrieve and query data from a database. The primary DQL command is SELECT, which allows you to fetch data from one or more database tables based on specified criteria.

example:-

SELECT first_name, last_name, job_title
FROM Employees
WHERE salary > 50000;

#### Q5. Explain Primary Key and Foreign Key.

Primary Key:
A Primary Key is a column or a set of columns in a database table that uniquely identifies each row in that table. It ensures that each row in the table has a distinct identifier, and no two rows can have the same primary key value. The primary key is used to enforce entity integrity and is crucial for data indexing and efficient retrieval.

CREATE TABLE Customers (
    customer_id INT PRIMARY KEY,
    first_name VARCHAR(50),
    last_name VARCHAR(50),
    email VARCHAR(100)
);


Foreign Key:
A Foreign Key is a column or a set of columns in a table that refers to the primary key of another table. It establishes a relationship between two tables by enforcing referential integrity. The foreign key ensures that the values in the referencing table (child table) match the values in the referenced table (parent table) or are set to NULL.

CREATE TABLE Customers (
    customer_id INT PRIMARY KEY,
    first_name VARCHAR(50),
    last_name VARCHAR(50),
    email VARCHAR(100)
);

CREATE TABLE Orders (
    order_id INT PRIMARY KEY,
    order_date DATE,
    customer_id INT,
    FOREIGN KEY (customer_id) REFERENCES Customers(customer_id)
);

#### Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

Python code to connect MySQL to python

import library
-> import mysql.connector

Replace the connection parameters with your MySQL credentials
establish username, password, and connection
-> connection = mysql.connector.connect(
        host="localhost",
        user="your_username",
        password="your_password"
    )
Your MySQL queries and operations go here
For example, you can create a cursor and execute a query:
-> cursor = connection.cursor()
    cursor.execute("SELECT * FROM your_table;")
    result = cursor.fetchall()
    for row in result:
        print(row)
        
->cursor.close()
  connection.close()
In Python's MySQL Connector library (mysql-connector-python), the cursor() method and the execute() method are used in the context of database operations to interact with the MySQL database. Let's explain each of these methods:

cursor() method:
The cursor() method is called on a database connection object and is used to create a cursor object. A cursor is an object that allows you to interact with the database by executing SQL queries and fetching results.

execute() method:
The execute() method is called on a cursor object, and it is used to execute SQL queries or statements on the connected MySQL database.

#### Q7. Give the order of execution of SQL clauses in an SQL query.

In an SQL query, the order of execution of the SQL clauses is as follows:

FROM: The FROM clause specifies the tables from which the data will be retrieved. It identifies the source tables where the database engine will fetch the data for processing.

WHERE: The WHERE clause is used to filter the data based on specific conditions. It restricts the rows returned by the query by applying specified conditions to the columns.

GROUP BY: The GROUP BY clause is used to group the result set based on one or more columns. It is commonly used in conjunction with aggregate functions like SUM, COUNT, AVG, etc., to perform calculations on groups of data.

HAVING: The HAVING clause is used to filter the grouped data. It works similarly to the WHERE clause but is applied after the GROUP BY clause to filter groups based on specific conditions.

SELECT: The SELECT clause specifies the columns to be retrieved from the table. It determines which data will be included in the query result.

ORDER BY: The ORDER BY clause is used to sort the result set based on one or more columns. It arranges the data in ascending or descending order.