#### 1. Write a program to accept percentage from the user and display the grade according to the following criteria:


Marks:- A,   B,            C,             D

Grade:- >90, >80 and <=90, >=60 and <=80, below 60

In [1]:
a=int(input("Enter your Percentage"))
if a>90:
    print("A")
elif a>80 and a<=90:
    print("B")
elif a>=60 and a<=80:
    print("C")
elif a<60:
    print("D")

Enter your Percentage 95

A

#### 2. Write a program to accept the cost price of a bike and display the road tax to be paid according to the following criteria:

Tax:-               15%,    10%,                  5%

Cost Price(in Rs):->100000, >50000 and <= 100000, <= 50000

In [2]:
cost=int(input("Enter the cost"))
tax=0.0
if cost>100000:
    tax=cost*0.15
    print(tax)
elif cost>50000 and cost<=100000:
    tax=cost*0.10
    print(tax)
elif cost<=50000:
    tax=cost*0.05
    print(tax)

Enter the cost 250000

37500.0

#### 3. Accept any city from the user and display monuments of that city.

City:-    Delhi,     Agra,        jaipur

Monument:-Red Fort, Taj Mahal, jal Mahal

In [3]:
city=str(input("Enter the city"))
if city=="Delhi":
    print("Monument in Delhi:- Red Fort")
elif city=="Agra":
    print("Monument in Agra:- Taj Mahal")
elif city=="jaipur":
    print("Monument in jaipur:- jal Mahal")

Enter the city Agra

Monument in Agra:- Taj Mahal

#### 4. Check how many times a given number can be divided by 3 before it is less than or equal to 10.

In [6]:
num=int(input("Enter any number"))
count=0
num1=num
while(num>10):
    num=num/3
    count+=1
print(num1," is divisible by 3:-",count)

Enter any number 40

40  is divisible by 3:- 2

#### 5. Why and When to Use while Loop in Python give a detailed description with example

when we don't know the limit how many times loop will go then we use while loop

In [7]:
sum=0
a=int(input("Enter any number"))
while(a>0):
    sum+=a
    a-=1
print(sum)

Enter any number 5

15

#### 6. Use nested while loop to print 3 different pattern.

In [5]:
i=0
while i<5:
    j=0
    while j<5:
        j+=1
        print("*", end=" ")
    print()
    i+=1

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [9]:
i=0
while i<5:
    j=0
    while j<=i:
        j+=1
        print("*", end=" ")
    print()
    i+=1

*
* *
* * *
* * * *
* * * * *

In [11]:
i=0
while i<10:
    j=0
    while j<=i:
        j+=1
        if(j%2==0):
            print("*", end=" ")
        else:
            print(" ", end=" ")
    print()
    i+=1

  *
  *
  *   *
  *   *
  *   *   *
  *   *   *
  *   *   *   *
  *   *   *   *
  *   *   *   *   *

#### 7. Reverse a while loop to display numbers from 10 to 1.

In [12]:
i=10
while(i>0):
    print(i)
    i-=1

10
9
8
7
6
5
4
3
2
1

#### 8. Reverse a while loop to display numbers from 10 to 1

In [13]:
i=10
while(i>0):
    print(i)
    i-=1

10
9
8
7
6
5
4
3
2
1